<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>

        h1 {
            color: rgba(31, 75, 31, 0.78);
            left: 90%;
            
        }
        body {
           background-color: rgba(161, 23, 64, 0.7);
        }
        a {
            color: #dade5a;
            text-decoration-line: underline;
        }
    </style>

</head>

<body>
<div>
    <a th:href="@{/users/}">Перейти к таблице<br> Пользователей</a>
</div>

<h1> Приложение<br> от <b>Оксаны</b></h1>

    <img src="https://i.pinimg.com/originals/f8/15/79/f81579a9b9e17241ce75fb3533f81f77.jpg" alt="DuckDeduct" style="width:80%" loading="lazy">

</body>
</html>