<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
    <style>
        body {
            background-color: #58898f;
            background-size: 130%;
        }
        .div {
            color: #d9f3f3;
        }
    </style>
</head>

<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <div class="div">
        <label for="name">Имя</label>
        <input type="text" th:field="*{name}"  id="name"/>

        <br>

        <label for="lastName">Фамилия</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>

        <br>

        <input type="submit" value="Добавить пользователя">

        <img src="https://w-dog.ru/wallpapers/12/17/507295083581389/uilyam-t-rner-vid-zamok-dunster-s-severo-vostoka-kartina-pejzazh-gory-dolina-derevya-zamok-korovy.jpg" alt="DuckDeduct" loading="lazy">
    </div>
</form>
</body>
</html>