<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновить данные пользователя</title>
<style>
    body {
        background-color: chartreuse;
    }
</style>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/update/{id}(id=${user.getId()})}" th:object="${user}">
    <div>
        <label for="name">Имя</label>
        <input type="text" th:field="*{name}"  id="name"/>

        <br>
        <label for="lastName">Фамилия</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>


        <br>
        <input type="submit" value="Обновить данные пользователя">
    </div>
</form>
</body>
</html>